<!DOCTYPE html>
<html>
<head>
	<title>AFL Player Statistics</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/app.css">
</head>

<body ng-app="app">
	<div class="container" ng-controller="PlayersController">
		<div class="player" ng-repeat="player in players">
			<div class="box box--large">
				<div class="team team--sydney-swans">
					<img ng-src="./requirements/assets/Swans-rev.svg" ng-if="player.club.toLowerCase() === 'sydney swans'" class="team-logo">
					<img ng-src="{{player.imageUrl}}" class="player-image">
					<div class="guernsey-number">{{player.jumperNumber}}</div>
				</div>
				<div class="info">
					<span class="player-name">{{player.firstname}} <strong>{{player.lastname}}</strong></span>
					<span class="club">{{player.club.toUpperCase()}}</span>
				</div>
			</div>
			<div class="box box--small center">
				<small class="stat-section-header">TOTAL</small>
				<div class="stat-section">
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">DISPOSALS</small>
							<span class="stat">23</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">HANDBALLS</small>
							<span class="stat">8</span>
						</div>
					</div>
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">KICKS</small>
							<span class="stat">300</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">TACKLES</small>
							<span class="stat">23</span>
						</div>
					</div>
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">MARKS</small>
							<span class="stat">8</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">SCORE</small>
							<span class="stat">32.11</span>
						</div>
					</div>
				</div>
			</div>
			<div class="box box--small center red">
				<small class="stat-section-header">AVERAGE</small>
				<div class="stat-section">
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">DISPOSALS</small>
							<span class="stat">23</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">HANDBALLS</small>
							<span class="stat">8</span>
						</div>
					</div>
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">KICKS</small>
							<span class="stat">300</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">TACKLES</small>
							<span class="stat">23</span>
						</div>
					</div>
					<div class="row">
						<div class="half stat-item">
							<small class="stat-header">MARKS</small>
							<span class="stat">8</span>
						</div>
						<div class="half stat-item">
							<small class="stat-header">SCORE</small>
							<span class="stat">32.11</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./scripts/vendor/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
	<script type="text/javascript" src="./scripts/services/server.js"></script>
	<script type="text/javascript" src="./scripts/services/calculator.js"></script>
	<script type="text/javascript" src="./scripts/controllers/PlayersController.js"></script>
</body>
</html>