<!DOCTYPE html>
<html>
<head>
	<title>AFL Player Statistics</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="./styles/normalize.css">
	<link rel="stylesheet" href="./styles/app.css">
</head>

<body ng-app="app">
	<div class="container" ng-controller="PlayersController">
		<div class="player" ng-repeat="player in players">
			<div class="box box--large">
				<div class="team team--sydney-swans">
					<img ng-src="./requirements/assets/Swans-rev.svg" ng-if="player.club.toLowerCase() === 'sydney swans'" class="team-logo">
					<img ng-src="{{player.imageUrl}}" class="player-image">
					<div class="guernsey-number">{{player.jumperNumber}}</div>
				</div>
				<div class="info">
					<span class="player-name">{{player.firstname}} <strong>{{player.lastname}}</strong></span>
					<span class="club">{{player.club.toUpperCase()}}</span>
				</div>
			</div>
			<stat-box heading="TOTAL" stats="player.calculations" stat-type="total"></stat-box>
			<stat-box heading="AVERAGE" stats="player.calculations" stat-type="total" theme="red"></stat-box>
		</div>
	</div>
	<script type="text/javascript" src="./scripts/vendor/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
	<script type="text/javascript" src="./scripts/services/server.js"></script>
	<script type="text/javascript" src="./scripts/services/calculator.js"></script>
	<script type="text/javascript" src="./scripts/controllers/PlayersController.js"></script>
	<script type="text/javascript" src="./scripts/directives/statBox.js"></script>
</body>
</html>