<div class="box box--small center" ng-class="theme">
	<small class="stat-section-header">{{heading}}</small>
	<div class="stat-section">
		<div class="row">
			<div class="half stat-item">
				<small class="stat-header">HANDBALLS</small>
				<span class="stat">{{stats.handballs[statType]}}</span>
			</div>
			<div class="half stat-item">
				<small class="stat-header">KICKS</small>
				<span class="stat">{{stats.kicks[statType]}}</span>
			</div>
		</div>
		<div class="row">
			<div class="half stat-item">
				<small class="stat-header">TACKLES</small>
				<span class="stat">{{stats.tackles[statType]}}</span>
			</div>
			<div class="half stat-item">
				<small class="stat-header">MARKS</small>
				<span class="stat">{{stats.marks[statType]}}</span>
			</div>
		</div>
		<div class="row">
			<div class="half stat-item">
				<small class="stat-header">SCORE</small>
				<span class="stat">{{stats.score[statType]}}</span>
			</div>
		</div>
	</div>
</div>